language: android

jdk:
  - oraclejdk8

before_install:
  # Install SDK license so Android Gradle plugin can install deps.
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"

install: true

script: ./gradlew clean build

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "mOz+mzBV8Kpyjhq4bXm/RJquDQ7U9ykLEaIMgEMDGUEOiduHbOZEI4pwND2JSbwQHEAUGc5/9ltVRLALaLjo7yqaKr0vMIHdJSE/nuHTFYx+RSRsnlXQMvApaLkaczOEcy1pfxLytxwaTisu/pe27o1EsQLZyXIlk2uCsBI44fW7vio4onfqP0ikcSJm/VWJDmx03btQnO91736tmBrdSVrZUDt/j1StVfqXX3ZHZ4vUg9EJ6k1a5JYE+d4kvkvj2Db/Q+jRp0oMlRB7nSyWNRpvsOwka9rnt7FQ6aNzG9zYqg57GNudjufke+g7g8uW9k9DTEYwdjczEMQvOOnF3hlojO1oxK1NtQhJFnsE86vu5yRog5VSzMUIAKl/j+MIOLZdTLpWu0/9toRG9K8tt17BTuw1bh7zjZdGl9izyiX/w1V2LEOBtlRq2VLTpZJif9uvENGYGPr2mPIBIQT8Oa7dKKcvF9fvIU81x4hVcrgp6rs8QFVMsKrRy8w6f0WQEsRyB6aIWnmD0o5vHwH0/zaV/TLh3o/jnvwoWqy7/eiXEnYm3+ZMeQr1wAK+qI69Or1Dg8+vyHNxLdvrFbN21Rnto28dKq+f6cVHmzGvacVzPSpDHoKZm5ZlZaZVyKqXnpOnpogI1wH7hbxMPogBeZeQPsw9USHNbUEKnZIPTwg="
    - secure: "TXakzLTGPi7W41WLgp5cnhfxjjHyoJfOC5QZ0MZt5czlwxw+5iONWsaJQbX5oZA+F0B55ytPTAR1ELcxg0HC8HsuEsaHPJNNUsVVeulr/Ntp7I/jFAfgi6xYFu5XcrhXW05H2AQ/MAbDU3FnCctOk0Vn7hAXJB7RKGcUdA+QSYFO9dC3mt3mzTJWqqyyjKF5yJWYEnM/OEIZx4QLt4kGJOr912i/mXIhO1e0vnUSpc/xxU225xIb1q4EK7XAxvuickTSMGbUyg7gHjIKaaSCHFJtIOn+MX4sJBSjA/N6w/C/dZRnx3zY+ZDAEqi2HSwQhqRspWcYXoQsjCk1kezzTDjB1Ll4Bn4r3e7KqqODyvAIECNg8BbOdjjv8ia6A5WBDgjVz/IA4kdZd0nn6dqvMWgStH2Mx9fIopLIgSWfNVDCusbhM+hDP6eyWZoVLIXt/PqfTWlvMXR1IR0FpcP7zSGtkxnqpieh6SvWakCyeCUOY3MeHAp4QrPeIJvuNG8/RwbYSMCRd077L66ryL4hoy6VRTJ1FGqDP9RH4DwWUitiS8ZU54QwnEl9ZcIKD3+MDCuyJ1zFlU3cBsVyZP3az6LvYH1+qhfKrC6KuFOzLKCOdnnsbA5PHYjAqZ6U1mlXTvgI7l3F2oJmv1CiTgN4/3vSwsFD+Uhmym9TIhrZtD4="

branches:
  except:
    - gh-pages

notifications:
  email: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
